*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.banner-content{
    background-image: url(../images/first-bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.banner-content h3{
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 320px;
    font-weight: 700;
}
.banner-content h1{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 30px;
}
.icon i{
    color: #fff;
    font-size: 30px;
    margin-top: 30%;
    margin-bottom: 40px;
}
.btn-style{
    background: #d94948;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    text-align: center;
}
.btn-style:hover{
    background: #781515;
    color: #fff;
}
.height{
    min-height: 90vh;
    align-items: center;
}
.about{
    margin: 10% 0;
    text-align: center;
}
.about h3{
    color: black;
}
.about h1{
    color: black;
    margin-bottom: 50px;
}
.about p{
    margin-bottom: 50px;
    color: black;
}
.service{
    background-image: url(../images/second-bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.service h3{
    margin-top: 80px;
}
.service h1{
    font-size: 30px;
}
.service span{
    display: block;
    height: 2px;
    background: #fff;
}
.service p{
    
}
.project{

}
.project h3{
    text-align: center;
    margin-top: 70px;
    font-weight: 700;
}
.project h1{
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
}
.coustom{
    margin-top: 10%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.item img{

}
.item h4{
    margin: 15px 0;
}
.item p{
    font-size: 19px;
}
.project h2{

}
footer{
    background: #011627;
}
.comand{
    
margin-top: 10%;
}
.comand h1{
    color: #fff;
    font-size: 25px;
}
.comand p{
    color: #fff;
    margin-top: 6%;
}
.copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 15px;
}
.copyright h5{
    color: #fff;
}